{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <h1>Accueil</h1>

    <section>
        <h2>Liste des films</h2>
        {% for movie in movies %}
            <article>
                <h3>{{ movie.title }}</h3>
                <p>Réalisé par: {{ movie.director.firstName }} {{ movie.director.lastName }}</p>
            </article>
        {% endfor %}
    </section>

{% endblock %}

