{% extends "base.html.twig" %}

{% block title %}Mentions légales{% endblock %}

{% block body %}
    <h1>Mentions légales</h1>

    <h2>Coordonnées</h2>
    <p>Addresse: 1 rue test 34000 Montpellier</p>
    <p>Email: test@test.com</p>
    
{% endblock %}